body {
    text-align: center;
    font: 16px calibri;
    color: #9f98b1;
    background: url("../images/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title {
    font-size: 40px;
    letter-spacing: 4px;
    margin: 20px auto;
}

#buttonsSection {
    margin: 20px auto;
}

.button {
    background-color: #484062;
    border-radius: 3px;
    border: 1px solid #9f98b1;
    color: #9f98b1;
    padding: 5px 8px;
}

#mainPage {
    width: 400px;
    margin: 100px auto;
    padding: 10px 0;
    background: #544c6e;
    border: 1px solid #9f98b1;
    -webkit-box-shadow: 0 0 2px #9f98b1;
    -moz-box-shadow: 0 0 2px #9f98b1;
    box-shadow: 0 0 2px #9f98b1;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}